
<div class="column" style="margin: 10px;">
    <div class="form-row">
         <mat-form-field appearance="outline">
            <mat-label>Date range</mat-label>
            <mat-date-range-input
                [rangePicker]="rangeDatePick">
                <input matStartDate placeholder="Start date" [formField]="reqParamsForm.startDatetime">
                <input matEndDate placeholder="End date" [formField]="reqParamsForm.endDatetime">
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="rangeDatePick"></mat-datepicker-toggle>
            <mat-date-range-picker #rangeDatePick></mat-date-range-picker>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Start time</mat-label>
            <input matInput [formField]="reqParamsForm.startDatetime" [matTimepicker]="picker1">
            <mat-timepicker-toggle matIconSuffix [for]="picker1"/>
            <mat-timepicker #picker1/>
            @for (error of reqParamsForm.startDatetime().errors(); track error) {
                <mat-error>{{ error.message }}</mat-error>
            }
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>End time</mat-label>
            <input matInput [formField]="reqParamsForm.endDatetime" [matTimepicker]="picker2">
            <mat-timepicker-toggle matIconSuffix [for]="picker2"/>
            <mat-timepicker #picker2/>
            @for (error of reqParamsForm.endDatetime().errors(); track error) {
                <mat-error>{{ error.message }}</mat-error>
            }
        <mat-hint>&nbsp;</mat-hint>
        </mat-form-field>
        <mat-button-toggle-group (change)="filterByDepartOrArrivalAgency()">
    
            <mat-button-toggle [checked]="filterByDepartAgency()" [value]="true"> Depart agency </mat-button-toggle>
            <mat-button-toggle [checked]="!filterByDepartAgency()" [value]="false"> Arrival agency </mat-button-toggle>
    
        </mat-button-toggle-group>
        <mat-form-field appearance="outline">
            <mat-label>Agency</mat-label>
            <mat-select [formField]="reqParamsForm.agency!">
            @for (agency of agencies(); track agency) {
                <mat-option [value]="agency.id">
                    {{ agency.toString() }}
                </mat-option>
            }
            </mat-select>
            <mat-hint>&nbsp;</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Travel type</mat-label>
            <mat-select [formField]="reqParamsForm.travelType!">
            @for (travelType of travelTypes; track travelType) {
                <mat-option [value]="travelType.value">
                    {{ travelType.label }}
                </mat-option>
            }
            </mat-select>
            <mat-hint>&nbsp;</mat-hint>
        </mat-form-field>
        <mat-button-toggle-group [formField]="reqParamsForm.notYetStarted">
            <mat-button-toggle [value]="false"> Travels Ongoing or ended </mat-button-toggle>
            <mat-button-toggle [value]="true"> Travels Not yet started </mat-button-toggle>
        </mat-button-toggle-group>
        <button matButton="elevated" [disabled]="reqParamsForm().invalid()" (click)="getDatasTravels()"> 
            Validate 
        </button>
    </div>
    <mat-card>
        <mat-card-header>
            <mat-card-title><h2>Travels List</h2></mat-card-title>
        </mat-card-header>
        <table mat-table [dataSource]="dataSource()" class="mat-elevation-z8 custom-header">
            <!-- Name Column -->
            <ng-container matColumnDef="Depart Agency">
                <th mat-header-cell *matHeaderCellDef> Depart Agency </th>
                <td mat-cell *matCellDef="let element"> {{element.departAgency}} </td>
            </ng-container>

            <ng-container matColumnDef="Arrival Agency">
                <th mat-header-cell *matHeaderCellDef> Arrival Agency </th>
                <td mat-cell *matCellDef="let element"> {{element.arrivalAgency}} </td>
            </ng-container>

            <ng-container matColumnDef="Travel type">
                <th mat-header-cell *matHeaderCellDef> Travel type </th>
                <td mat-cell *matCellDef="let element"> {{element.travelType}} </td>
            </ng-container>

            <ng-container matColumnDef="Travel state">
                <th mat-header-cell *matHeaderCellDef> Travel state </th>
                <td mat-cell *matCellDef="let element"> {{element.travelState}} </td>
            </ng-container>

            <ng-container matColumnDef="Planned depart datetime">
                <th mat-header-cell *matHeaderCellDef> Planned depart datetime </th>
                <td mat-cell *matCellDef="let element"> 
                    {{element.plannedDepartDatetime | date:'dd-MM-yyyy h:mm a' }} 
                </td>
            </ng-container>

            <ng-container matColumnDef="Effective depart datetime">
                <th mat-header-cell *matHeaderCellDef> Effective depart datetime </th>
                <td mat-cell *matCellDef="let element"> 
                    @if(element.effectiveDepartDatetime){
                        {{element.effectiveDepartDatetime | date:'dd-MM-yyyy h:mm a'}} 
                    }
                </td>
            </ng-container>

            <ng-container matColumnDef="Arrival datetime">
                <th mat-header-cell *matHeaderCellDef> Arrival datetime </th>
                <td mat-cell *matCellDef="let element"> 
                    @if(element.arrivalDatetime){
                        {{ element.arrivalDatetime | date:'dd-MM-yyyy h:mm a' }}
                    }
                </td>
            </ng-container>

            <ng-container matColumnDef="Driver">
                <th mat-header-cell *matHeaderCellDef> Driver </th>
                <td mat-cell *matCellDef="let element"> {{element.busDriver}} </td>
            </ng-container>

            <ng-container matColumnDef="Bus">
                <th mat-header-cell *matHeaderCellDef> Bus </th>
                <td mat-cell *matCellDef="let element"> {{element.bus}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator
            [length]="totalTravels"
            [pageSize]="pageSize"
            [pageSizeOptions]="[5, 10, 20, 50]"
            [pageIndex]="pageIndex"
            showFirstLastButtons
            (page)="onPageChange($event)"
            aria-label="Select page">
        </mat-paginator>
    </mat-card>   
</div>
