@if (agencyAgentsDatas$ | async; as resp) {
    @if (resp.agencies.errorType == null && resp.agencyAgents.errorType == null && resp.audits.errorType == null) {
        <div class="row">
            <div class="body-box col-60">
                <mat-accordion style="margin-bottom: 20px;" >
                    <mat-expansion-panel (opened)="formOpenState.set(true)" (closed)="formOpenState.set(false)">
                        <mat-expansion-panel-header>
                            <mat-panel-title> Create new agency agent </mat-panel-title>
                        </mat-expansion-panel-header>
                        <app-agency-agent-form [agencies]="resp.agencies.data!"></app-agency-agent-form>
                    </mat-expansion-panel>
                </mat-accordion>
                <app-agency-agent-table-list 
                    [agencies]="resp.agencies.data!"
                    [agencyAgents]="resp.agencyAgents.data!"
                >
                </app-agency-agent-table-list>
            </div>
            <div class="col-40">
                <app-audit-history
                    [objectType]="'Agency agent'"
                    [entityObjects]="resp.agencyAgents.data!"
                    [entityAudits]="resp.audits.data!"
                >
                </app-audit-history>
            </div>
        </div>
    }
}