@use '@angular/material' as mat;
.layout-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}



.layout-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
  background-color: var(--mat-sys-primary);
  color: aliceblue;
  @include mat.fab-overrides((
    container-color: white,
  ));
}

h1.layout-app-name {
  margin-left: 8px;
}

.layout-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
  /* push the sidenav container below the fixed toolbar (toolbar height = 56px) */
  mat-sidenav {
        @include mat.sidenav-overrides((
        container-shape: 0,
        container-text-color: var(--mat-sys-on-primary),
    ));
  }
}

.layout-is-mobile .layout-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.active-link {
  background-color: rgba(0, 0, 0, 0.08) !important;   /* Couleur de fond Material */
  color: var(--mat-sys-primary) !important;           /* Couleur primaire */
  font-weight: 500;

  /* Optionnel : trait à gauche pour un look plus "Material" */
  border-left: 4px solid var(--mat-sys-primary);
  padding-left: 12px !important;
}

/* Pour améliorer le contraste sur l'item actif */
mat-nav-list .mat-mdc-list-item.active-link {
  --mdc-list-list-item-hover-label-text-color: var(--mat-sys-primary);
  --mdc-list-list-item-focus-label-text-color: var(--mat-sys-primary);
}