<mat-card class="form-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title>Agency agent</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field appearance="outline" subscriptSizing="dynamic">
      <mat-label>Username</mat-label>
      <input [formField]="agencyAgentForm.username" matInput>
      @for (error of agencyAgentForm.username().errors(); track error) {
          <mat-error>{{ error.message }}</mat-error>
      }
      <mat-hint>&nbsp;</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline" subscriptSizing="dynamic">
      <mat-label>First name</mat-label>
      <input [formField]="agencyAgentForm.firstname" matInput>
      <mat-hint>&nbsp;</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline" subscriptSizing="dynamic">
      <mat-label>Last name</mat-label>
      <input [formField]="agencyAgentForm.lastname" matInput>
      @for (error of agencyAgentForm.lastname().errors(); track error) {
          <mat-error>{{ error.message }}</mat-error>
      }
      <mat-hint>&nbsp;</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline" subscriptSizing="dynamic">
      <mat-label>Password</mat-label>
      <input type="password" [formField]="agencyAgentForm.password" matInput>
      @for (error of agencyAgentForm.password().errors(); track error) {
          <mat-error>{{ error.message }}</mat-error>
      }
      <mat-hint>&nbsp;</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline" subscriptSizing="dynamic">
      <mat-label>Confirm Password</mat-label>
      <input type="password" [formField]="agencyAgentForm.confirmPassword" matInput>
      @for (error of agencyAgentForm.confirmPassword().errors(); track error) {
          <mat-error>{{ error.message }}</mat-error>
      }
      <mat-hint>&nbsp;</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline" subscriptSizing="dynamic">
      <mat-label>Role</mat-label>
      <mat-select [formField]="agencyAgentForm.role">
        @for (role of roles; track role) {
          <mat-option [value]="role.value">{{ role.label }}</mat-option>
        }
      </mat-select>
      <mat-hint>&nbsp;</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline" subscriptSizing="dynamic">
      <mat-label>Agency</mat-label>
      <mat-select [formField]="agencyAgentForm.agencyId">
        @for (agency of agencies(); track agency) {
        <mat-option [value]="agency.id">
            {{ agency.toString() }}
        </mat-option>
        }
      </mat-select>
      <mat-hint>&nbsp;</mat-hint>
    </mat-form-field>
    <mat-card-actions [align]="'end'">
      <button matButton="filled" (click)="submit()">Create</button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
