<h2 mat-dialog-title>Edit Agency</h2>
<mat-divider></mat-divider>

<mat-dialog-content>
    @if(errorMessage()) {
        <div class="form-post-error">
            {{ errorMessage() }}
        </div>
    }
  <mat-form-field appearance="outline">
    <mat-label>Location description</mat-label>
    <input matInput [formField]="agencyForm.locationDesc">
    @for (error of agencyForm.locationDesc().errors(); track error) {
      <mat-error>{{ error.message }}</mat-error>
    }
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Quarter</mat-label>
    <input matInput [formField]="agencyForm.quarter">
    @for (error of agencyForm.quarter().errors(); track error) {
      <mat-error>{{ error.message }}</mat-error>
    }
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>City</mat-label>
    <mat-select [formField]="agencyForm.city" matInput>
    @for(city of data.cities; track city) {
        <mat-option  [value]="city.id">
        {{ city.name }}
        </mat-option>
    }  
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button matButton="outlined" (click)="closeDialog()">Cancel</button>
    <button matButton="filled" class="secondary" (click)="submit()">Update</button>
</mat-dialog-actions>
