<mat-card class="form-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title>Schedule travel</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    @if(errorMessage()) {
        <div class="form-post-error">
            {{ errorMessage() }}
        </div>
    }
    @if(isSubmitting()) {
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }
    <mat-form-field appearance="outline" subscriptSizing="dynamic">
      <mat-label>Depart Agency</mat-label>
      <mat-select [formField]="travelForm.departAgencyId">
        @for (agency of agencies(); track agency) {
        <mat-option [value]="agency.id">
            {{ agency.toString()  }}
        </mat-option>
        }
      </mat-select>
      <mat-hint>&nbsp;</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline" subscriptSizing="dynamic">
      <mat-label>Arrival Agency</mat-label>
      <mat-select [formField]="travelForm.arrivalAgencyId">
        @for (agency of agencies(); track agency) {
        <mat-option [value]="agency.id">
            {{ agency.toString() }}
        </mat-option>
        }
      </mat-select>
      <mat-hint>&nbsp;</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline" subscriptSizing="dynamic">
      <mat-label>Bus</mat-label>
      <mat-select [formField]="travelForm.busId">
        <mat-option [value]="null"></mat-option>
        @for (bus of buses(); track bus) {
        <mat-option [value]="bus.id">
            {{ bus.toString() }}
        </mat-option>
        }
       </mat-select>
      <mat-hint>&nbsp;</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline" subscriptSizing="dynamic">
      <mat-label>Bus driver</mat-label>
      <mat-select [formField]="travelForm.busDriverId">
        <mat-option [value]="null"></mat-option>
        @for (driver of busDrivers(); track driver) {
        <mat-option [value]="driver.id">
            {{ driver.toString() }}
        </mat-option>
        }
      </mat-select>
      <mat-hint>&nbsp;</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline" subscriptSizing="dynamic">
      <mat-label>Travel type</mat-label>
      <mat-select [formField]="travelForm.travelType">
        <mat-option [value]="null"></mat-option>
        @for (travelType of travelTypes; track travelType) {
        <mat-option [value]="travelType.value">
            {{ travelType.label }}
        </mat-option>
        }
       </mat-select>
      <mat-hint>&nbsp;</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <mat-label>Depart date</mat-label>
        <input matInput [matDatepicker]="departDate" [formField]="travelForm.plannedDepartDatetime">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="departDate"></mat-datepicker-toggle>
        <mat-datepicker #departDate></mat-datepicker>
        @for (error of travelForm.plannedDepartDatetime().errors(); track error) {
          <mat-error>{{ error.message }}</mat-error>
        }
    </mat-form-field>
    <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <mat-label>Depart time</mat-label>
        <input matInput [formField]="travelForm.plannedDepartDatetime" [matTimepicker]="departTime">
        <mat-timepicker-toggle matIconSuffix [for]="departTime"/>
        <mat-timepicker #departTime/>
      <mat-hint>&nbsp;</mat-hint>
        @for (error of travelForm.plannedDepartDatetime().errors(); track error) {
          <mat-error>{{ error.message }}</mat-error>
        }
    </mat-form-field>
    <mat-card-actions [align]="'end'">
      <button matButton="filled" [disabled]="travelForm().invalid()" (click)="submit()">Create</button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
