<h2 mat-dialog-title>Edit Admin</h2>
<mat-divider></mat-divider>

<mat-dialog-content>
    @if(errorMessage()) {
        <div class="form-post-error">
            {{ errorMessage() }}
        </div>
    }
  <mat-form-field appearance="outline" subscriptSizing="dynamic">
    <mat-label>Role</mat-label>
    <mat-select [formField]="agencyAgentForm.role">
      @for (role of roles; track role) {
        <mat-option [value]="role.value">{{ role.label }}</mat-option>
      }
    </mat-select>
    <mat-hint>&nbsp;</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="outline" subscriptSizing="dynamic">
    <mat-label>Agency</mat-label>
    <mat-select [formField]="agencyAgentForm.agencyId">
      @for (agency of data.agencies; track agency) {
      <mat-option [value]="agency.id">
          {{ agency.city + ', ' + agency.quarter + ' - ' + agency.locationDesc  }}
      </mat-option>
      }
    </mat-select>
    <mat-hint>&nbsp;</mat-hint>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
    <button matButton="outlined" (click)="closeDialog()">Cancel</button>
    <button matButton="filled" class="secondary" (click)="submit()">Update</button>
</mat-dialog-actions>