<div class="column">
    <div class="form-row">
        <mat-form-field appearance="outline">
            <mat-label> Search </mat-label>
            <input matInput [(ngModel)]="queryParams.searchTerm" >
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Sort by</mat-label>
            <mat-select [(ngModel)]="queryParams.sortBy">
                <mat-option [value]="undefined">
                    None 
                </mat-option>
            @for (sortOption of sortableFields; track sortOption) {
                <mat-option [value]="sortOption.value">
                    {{ sortOption.label }}  
                </mat-option>
            }
            </mat-select>
            <mat-hint>&nbsp;</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline" >
            <mat-label> Sort order </mat-label>
            <mat-select [(ngModel)]="queryParams.sortDirection" [disabled]="!queryParams.sortBy">
                <mat-option [value]="'asc'">
                    Ascending
                </mat-option>
                <mat-option [value]="'desc'">
                    Descending
                </mat-option>
            </mat-select>
            <mat-hint>&nbsp;</mat-hint>
        </mat-form-field>
        <button matButton="elevated" > 
            Validate 
        </button>
    </div>

    <div>
    @if (customersResp$ | async; as state) {
        @if (state.errorType == null) {
            <mat-card>
                <mat-card-header>
                    <mat-card-title><h2>Customers List</h2></mat-card-title>
                </mat-card-header>
                <table mat-table [dataSource]="state.data!.items" class="mat-elevation-z8 custom-header">
                    <!-- Name Column -->
                    <ng-container matColumnDef="Username">
                        <th mat-header-cell *matHeaderCellDef> Username </th>
                        <td mat-cell *matCellDef="let element"> {{element.username}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Firstname">
                        <th mat-header-cell *matHeaderCellDef> Firstname </th>
                        <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Lastname">
                        <th mat-header-cell *matHeaderCellDef> Lastname </th>
                        <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Phone number">
                        <th mat-header-cell *matHeaderCellDef> Phone number </th>
                        <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Birth date">
                        <th mat-header-cell *matHeaderCellDef> Birth date </th>
                        <td mat-cell *matCellDef="let element"> {{element.birthDate}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Options">
                        <th mat-header-cell *matHeaderCellDef> Options </th>
                        <td mat-cell *matCellDef="let element"> 
                            <div class="icons-option-block">
                                <button matMiniFab class="danger" (click)="deleteItem(element.id)" aria-label="Delete">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            @if (state.data!.totalCount > state.data!.pageSize) {
                <mat-paginator
                    [length]="state.data!.totalCount"
                    [pageSize]="queryParams.pageSize"
                    [pageSizeOptions]="[5, 10, 20, 50]"
                    [pageIndex]="queryParams.pageNumber"
                    (page)="onPageChange($event)"
                    showFirstLastButtons
                    aria-label="Select the page">
                </mat-paginator>
            }

            </mat-card>
            
        }
        @else {
            {{ state.errorType }}
        }
    }

    @else {

    }

    </div>
</div>

