
@if (citiesResp$ | async; as state) {
    @if (state.errorType == null) {
        <mat-card>
            <mat-card-header>
                <mat-card-title><h2>Cities List</h2></mat-card-title>
            </mat-card-header>
            <table mat-table [dataSource]="state.data!" class="mat-elevation-z8 custom-header">
                <!-- Name Column -->
                <ng-container matColumnDef="Name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <ng-container matColumnDef="Options">
                    <th mat-header-cell *matHeaderCellDef> Options </th>
                    <td mat-cell *matCellDef="let element"> 
                        <div class="icons-option-block">
                            <button matMiniFab (click)="editItem(element)">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </mat-card>
        
    }
}

@else {
    
}
